
body {
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
  display:none;
}

#uploader {
    -webkit-appearance: none;
    appearance: none;
    width: 50%;
    margin-bottom: 10px;

}

#activate-map-container {
    position: absolute;
    width: 640px;
    height: 640px;
    margin: 15px 15px 15px 15px ;

}

#activate-map {
    background: url("../wh-background.png") no-repeat center;
    height: calc(100%);
    background-size: cover;
    width: calc(100%);
}
#activate-map-btn {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
#activate-map-btn button {
    background: transparent;
    border: 4px solid #fff;
    color: #fff;
    text-transform: uppercase;
    padding: 9px 30px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
#map_canvas_container {
    position: relative;
    width: 670px;
    height: 670px;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgb(0 0 0 / 30%);
    background-color: #fff;
    font-family: Roboto;
    margin-right: auto;
    margin-left: auto;
}

#map-canvas {
    overflow: hidden;
    position: absolute;
    width: 640px;
    height: 640px;
    margin: 15px 15px 15px 15px;
}


#coords {
  background-color: black;
  color: white;
  /*padding: 10px;*/
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}

.pac-card {
    margin: 15px 10px 10px 15px;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
    width: 670px;
    margin-right: auto;
    margin-left: auto;
}

#pac-container {
  margin-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 95%;
}

.container {
    display: flex;
}

#btnMLBegin {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#btnMLShow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}